html,
body {
  height: 100%; }

.under-line-extend, div#second-content .info p.info-content::before, div#second-content .info p.info-content::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -16px;
  height: 10px;
  width: 32px;
  border-bottom: 2px solid #000; }

.smart-icon-extend, main a i.fa-bars, main ul.smart-show li i.fa-times {
  border-radius: 2px;
  display: inline-block;
  padding: 8.5px 10px;
  transition: all 0.35s ease 0s;
  border: 1px solid #e1e1e1;
  background: none repeat scroll 0 0 #fff; }

.border-gray, div#second-content aside#login-register-form form, aside #calendar {
  border: solid 0.5px gray; }

header span {
  color: chartreuse; }

main #main-menu {
  margin-top: 100px;
  margin-bottom: 20px; }
main ul.smart-show {
  display: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 10000;
  background-color: #fff; }
  main ul.smart-show span {
    margin-top: -5px;
    margin-right: 20px; }
  main ul.smart-show ul.smart-show-accordion-sub-menu {
    display: none;
    list-style: none; }
  main ul.smart-show span#smart-hide-accordion {
    display: none; }
  main ul.smart-show li #hide-smart-menu {
    text-align: center; }
  main ul.smart-show li a {
    display: block;
    font-size: 0.8em;
    height: 15%;
    padding: 20px 10px;
    width: 100%;
    border-bottom: 1px solid gray; }
    main ul.smart-show li a:hover {
      color: #90c23a; }
    main ul.smart-show li a:nth-child(2) {
      border-top: 1px solid gray; }
main a {
  color: #000; }
main ul.nav li a {
  padding-left: 20px;
  padding-right: 20px; }
  main ul.nav li a:hover {
    color: #90c23a;
    text-underline-position: left;
    text-decoration: none; }
main .accordion li ul {
  display: none;
  position: absolute;
  list-style: none;
  z-index: 999;
  background-color: #f9f9f9;
  height: 16%; }
  main .accordion li ul li a {
    margin-left: -40px;
    text-align: left;
    border: 1px solid #e5e5e5;
    display: block;
    z-index: 10000; }
main .ggmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
main .ggmap iframe,
main .ggmap object,
main .ggmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

div#second-content {
  background-color: #e1e1e1; }
  div#second-content .second-title {
    font-size: 0.8em;
    text-decoration: underline #90c23a; }
  div#second-content .third-title {
    font-size: 1.2em; }
  div#second-content h2.article-space {
    margin-top: 30px; }
  div#second-content p.article-text {
    color: #979797;
    font-size: 0.9em; }
  div#second-content article {
    background-color: #fff;
    margin-top: 10px;
    padding-top: 25px;
    padding-right: 20px;
    border: solid 0.5px gray; }
    div#second-content article .text-content {
      display: flex;
      justify-content: center; }
    div#second-content article .icon-style {
      padding: 20px 10px; }
    div#second-content article .fas,
    div#second-content article .far,
    div#second-content article .fab {
      padding: 10px;
      font-size: 2em; }
  div#second-content .row {
    padding-bottom: 40px; }
  div#second-content a.link {
    color: #000; }
  div#second-content aside#login-register-form {
    background-color: #fff;
    margin-top: 10px; }
    div#second-content aside#login-register-form form {
      padding: 10px 15px 10px; }
      div#second-content aside#login-register-form form .btn {
        color: #fff; }
      div#second-content aside#login-register-form form .btn-left {
        margin-right: 5px; }
      div#second-content aside#login-register-form form .submit-btn {
        background-color: #90c23a;
        border-color: #90c23a; }
      div#second-content aside#login-register-form form .aside-buttons {
        margin-bottom: 10px; }
      div#second-content aside#login-register-form form .btn-block + .btn-block {
        margin: 0; }
      div#second-content aside#login-register-form form .active {
        background: #2C3E52; }
      div#second-content aside#login-register-form form #register {
        display: none; }
  div#second-content aside#advertisement-content {
    background-color: antiquewhite; }
    div#second-content aside#advertisement-content .advertisement {
      width: 100%;
      height: 100%; }
  div#second-content #best-prace-content {
    margin-left: 0px; }
  div#second-content .info {
    border: solid 0.5px;
    margin-top: 10px; }
    div#second-content .info .fa-star {
      color: gold; }
    div#second-content .info p.info-content::before {
      top: 67%; }
    div#second-content .info p.info-content::after {
      top: 78%; }
    div#second-content .info i.icon-style {
      margin-top: -30px;
      background-color: #fff;
      border-radius: 50%; }
  div#second-content .place-content {
    padding-top: 10px; }
    div#second-content .place-content i.icon-style {
      margin-top: -30px;
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      top: 50%;
      right: left;
      left: -15%; }
  div#second-content .evaluation {
    margin-top: 60px; }
    div#second-content .evaluation i.star-icon-style {
      font-size: 1.3em;
      color: gold; }
    div#second-content .evaluation::before {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -55px;
      left: 0;
      height: 32px;
      border-right: 2px solid #000;
      text-align: center; }
  div#second-content .place-border {
    border: solid 0.5px; }
  div#second-content .b-crumb {
    margin-left: 15px; }
  div#second-content div.pagenav {
    margin-left: 15px; }
  div#second-content .slick-slider {
    filter: grayscale(100%);
    max-height: 30%; }
    div#second-content .slick-slider img.silder-image {
      filter: grayscale(100%); }

aside #calendar {
  background-color: #fff;
  padding: 0; }
  aside #calendar .fc-today {
    background-color: blue; }

footer {
  background-color: #2C3E52;
  color: #9399A2; }
  footer .smart-no-flex {
    display: flex; }
  footer p.footer-title {
    display: inline-block;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px; }
    footer p.footer-title::after {
      content: normal;
      border-top: 10px solid red;
      flex-grow: 1; }
  footer ul li {
    list-style: none;
    border: 1px solid #9399A2;
    padding: 5px 20px;
    margin-left: -40px; }
    footer ul li a {
      color: #9399A2; }
  footer #copy-right {
    background-color: #2a2a2a; }
  footer .separator {
    width: auto;
    border-top: 1px solid #dbdbdb;
    margin-top: 14px;
    position: relative;
    overflow: hidden;
    border-color: rgba(255, 255, 255, 0.1); }
  footer .social-icons {
    font-size: 1.5em;
    filter: grayscale(100%); }
  footer .small {
    font-size: 100%; }
  footer .twitter {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5px 12px;
    font-size: 1em;
    margin-bottom: 10px; }
    footer .twitter p span {
      color: aquamarine;
      font-style: oblique; }
  footer .photos {
    margin-left: -15px; }
    footer .photos .indivisual-phpto {
      margin-bottom: 3px; }
      footer .photos .indivisual-phpto .img-thumbnail {
        height: 60px;
        width: 80px;
        margin-left: 2px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.15); }

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  z-index: 99;
  display: none; }

.square {
  width: 100%;
  height: 100%;
  color: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: Helvetica, Arial, Sans-Serif;
  z-index: 100; }

@media (max-width: 1200px) {
  div#second-content .info p.info-content::before {
    top: 60%; } }
@media (max-width: 992px) {
  .article-wrapper {
    max-width: 100%;
    flex: auto; }

  .aside-wrapper {
    max-width: 100%; } }
@media (max-width: 767px) {
  div#second-content .info .fa-star {
    font-size: 1em; }
  div#second-content .info p.info-content::before {
    top: 43%; }
  div#second-content .info p.info-content::after {
    top: 60%; }

  .aside-wrapper {
    max-width: 100%;
    flex: none; }

  footer .col-sm-3 {
    max-width: none;
    flex: none; } }
@media (max-width: 575px) {
  article#pagination .smart-flex-column {
    display: flex;
    flex-flow: column nowrap; }

  div#second-content .place-content i.icon-style {
    top: 0;
    left: 88%; }

  div#second-content .info p.info-content::after {
    top: 80%; }
  div#second-content .info p.info-content::before {
    top: 88%; }

  div#second-content .evaluation::before {
    top: 37%; }

  div#second-content .place-border {
    margin-left: 10px; } }
@media (max-width: 443px) {
  main #main-menu {
    margin-top: 140px; } }

/*# sourceMappingURL=style.css.map */
